<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Games</title>
    <link rel="stylesheet" href="/static/css/css.css">
    <script src="/static/js/jquery-3.4.1.min.js"></script>
    <script src="/static/js/js.js"></script>
</head>
<body>
{{ if .error }}
<div class="error">{{ .error }}</div>
{{ end }}
<div>
    <form method="get" action="/">
        <button type="submit">back</button>
    </form>
</div>
<div class="box">
    <form method="post">
        <button type="submit">+</button>
    </form>
</div>
{{ range .saves }}
<div class="box">
    <form method="post" action="/game/{{ $.name }}/rec/{{ . }}">
        <button {{ if eq $.recover . }}class="recover"{{ end }} type="submit">{{ . }}</button>
    </form>
    <form method="post" action="/game/{{ $.name }}/del/{{ . }}">
        <button class="delete" type="submit">-</button>
    </form>
</div>
{{ end }}
<div class="box">
    <form method="post" action="/game/{{ $.name }}/delall">
        <button type="submit">-</button>
    </form>
</div>
</body>
</html>