<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Games</title>
    <link rel="stylesheet" href="/static/css/css.css">
</head>
<body>
{{ if .error }}
<div>
    <pre class="error">{{ .error }}</pre>
</div>
{{ end }}
<div class="box">
    <form method="post">
        <button class="create" type="submit">+</button>
    </form>
</div>
{{ range .saves }}
<div class="box">
    <form method="post" action="/game/{{ $.name }}/rec/{{ . }}">
        <button class="recover" type="submit">{{ . }}</button>
    </form>
    <form method="post" action="/game/{{ $.name }}/del/{{ . }}">
        <button class="delete" type="submit">-</button>
    </form>
</div>
{{ end }}
<div class="box">
    <form method="post" action="/game/{{ $.name }}/delall">
        <button class="create" type="submit">-</button>
    </form>
</div>
</body>
</html>