<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Games</title>
    <link rel="stylesheet" href="/static/css/css.css">
    <script src="/static/js/jquery-3.4.1.min.js"></script>
    <script src="/static/js/js.js"></script>
</head>
<body>
{{if .error }}
<div class="error">{{ .error }}</div>
{{ end }}
<div>
    <form method="post">
        <label for="name">Name</label>
        <input title="name" name="name" type="text">
        <label for="path">Path</label>
        <input title="path" name="path" type="text">
        <button type="submit">submit</button>
    </form>
</div>
{{ range .games }}
<div class="box">
    <form action="/game/{{ . }}">
        <button type="submit">{{ . }}</button>
    </form>
</div>
{{ end }}
</body>
</html>